#coolMenu,
#coolMenu ul {
	list-style: none;
}
#coolMenu {
	float: left;
	text-align:center;
}
#coolMenu > li {
	float: left;
}
#coolMenu li a {
	display: block;
	height: 20px;
	padding: 0 10px;
	text-decoration: none;
}
#coolMenu .pt{
	display: block;
	padding:35px 9px 35px 9px;
	text-decoration: none;
	font-size:20px;
}
#coolMenu ul {
	position: absolute;
	display: none;
	z-index: 999;
}
#coolMenu ul li a {
	width: 80px;
}
#coolMenu li:hover ul.noJS {
	display: block; 
}
#coolMenu {
	font-family: Arial;
	font-size: 12px;
	background: white;
}
#coolMenu > li > a {
	color: black;
	font-weight: bold;
}
#coolMenu > li:hover > a {
	text-decoration:underline;
	background: #f09d28;
	color: black;
}

#coolMenu ul {
	background: #f09d28;
}
#coolMenu ul li a {
	color: black;
}
#coolMenu ul li:hover a {
	text-decoration:underline;
	background: #ffc97c;
}